<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
     <!--  <add name="db_QuanLyBanHangThietBiMayTinh" connectionString="Data Source=.;Initial Catalog=db_QuanLyBanHangThietBiMayTinh;Integrated Security=True" />
      <add name="QuanLyThietBiMayTinh.Properties.Settings.db_QuanLyBanHangThietBiMayTinhConnectionString"
          connectionString="Data Source=.;Initial Catalog=db_QuanLyBanHangThietBiMayTinh;Integrated Security=True"
          providerName="System.Data.SqlClient" /> -->
            <add name="db_QuanLyBanHangThietBiMayTinh" connectionString="Data Source=UONGSUADAUBUNG\UONGSUADAUBUNG;Initial Catalog=db_QuanLyBanHangThietBiMayTinh;Integrated Security=True" />
      <add name="QuanLyThietBiMayTinh.Properties.Settings.db_QuanLyBanHangThietBiMayTinhConnectionString"
          connectionString="Data Source=UONGSUADAUBUNG\UONGSUADAUBUNG;Initial Catalog=db_QuanLyBanHangThietBiMayTinh;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>